body {
    background-image: url(https://thewallpaper.co/wp-content/uploads/2016/03/black-hd-background-high-resolution-images-free-stock-photos-desktop-images-samsung-wallpaper-windows-wallpaper-amazing-hd-artwork-2560x1600.jpg);
    color: #fff;
    margin: 0;
}

.movies {
    padding: 10px;
    width: 1200px;
    margin: 50px auto 0 auto;
    div {
        h1 {
            margin: 0;
        }
        h2 {
            margin-top: 80px;
        }
        text-align: center;
        p {
            width: 800px;
            margin: 20px auto;
            font-size: 18px;
        }
        a {
            font-size: 24px;
            text-decoration: none;
            color: royalblue;
            &:hover {
                color: #fff;
            }
        }
        ul {
            padding: 0;
            li {
                list-style-type: none;
            }
        }
    }
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    font-size: 20px;
}
